<tr class="<%= cycle :odd,:even %>">
	<td><%=h temporal.id %></td>						
	<td><%=h temporal.fila %></td>
	<td><%=h temporal.columna %></td>	
	<td><%=h temporal.cantidad %><%= cantidad_por_sacar(inventario) %></td>	
	<%= detalles(temporal) %>
</tr>