- avanzado_results(inventario)
%tr{ :class => cycle(:odd,:even), :id => "inventario_#{inventario.id}" }
  %td= h(inventario.column)
  %td= h(inventario.row)
  %td= h(inventario.id)
  %td
    = h(inventario.cantidad)
    = cantidad_por_sacar(inventario)
  = detalles(inventario)
  %td= link_to 'Editar', :action => 'edit', :id => inventario
  %td= link_to 'Faltante', reinventariar_path(inventario),:confirm => "Est&aacute;s seguro?", :id => inventario, :method => :delete
