- page_title "Editar"
%h1= yield :title
.float-left
  #edit.results
    - form_tag(reinventariar_path(@inventario),:method => :put) do
      = render :partial => 'application/cantidad'
      = render :partial => 'application/location'
      = render :partial => 'application/attributes'
.float-right
  %table.results
    %tr.title
      %th Similar
      %th
    - @similar.each do |item|
      %tr{:class => cycle(:odd,:even)}
        %td= link_to item.column, reinventariar_index_path(:column => item.column, :row => item.row, :commit => "Buscar") unless item.column.blank?
        %td= item.row
.clear
- button_1("Reinventariar", reinventariar_index_path)
- button_2("Editar =>",'#', :onclick => 'document.forms[0].submit()')
