- page_title "Reinventario"
- avanzado
- form_tag({},{:method => 'get', :id => "search_form"}) do
  %table#search-results
    %tr
      %th Fila
      %th Columna
      %th Código
    %tr
      %td
        = "<"
        = text_field_tag("row", {}, {:size => 3, :value => params[:row]})
        = ">"
      %td
        = "<"
        = text_field_tag("column", {}, {:size => 3, :value => params[:column]})
        = ">"
      %td= text_field_tag("id", {},{:size => 3, :value => params[:id]})
      %td
        = submit_tag 'Buscar'
        = submit_tag 'Limpiar', :name => "limpiar"
.content
  - if @inventarios
    %p
      .float-left
        %table.results
          %tr.title
            %th Fila
            %th Columna
            %th Código
            %th Cantidad
            %th Marca
            %th Tipo
            %th Color
            %th Talla
            %th
            %th
          = render :partial => 'inventario', :collection => @inventarios
      .float-right= location
      .clear
      .pagination
        = will_paginate @inventarios
  - else
    %p.busque= "Por favor busque los productos."
= total_camisas
