- page_title "Reinventario"
- avanzado
- form_tag({},{:method => 'get', :id => "search_form"}) do
  %table#search-results
    %tr
      %th Columna
      %th Fila
      %th Código
    %tr
      %td
        = "<"
        = text_field_tag("column", {}, {:size => 3, :value => session[:column]})
        = ">"
      %td
        = "<"
        = text_field_tag("row", {}, {:size => 3, :value => session[:row]})
        = ">"
      %td= text_field_tag("id", {},{:size => 5, :value => params[:id]})
      %td
        = submit_tag 'Buscar'
        = submit_tag 'Limpiar', :name => "limpiar"
.content
  - if @inventarios
    %p
      .float-left
        %table.results
          %tr.title
            %th Columna
            %th Fila
            %th Código
            %th Cantidad
            %th Color
            %th Marca
            %th Tipo
            %th Talla
            %th
            %th
          = render :partial => 'inventario', :collection => @inventarios
      .float-right
        - if @last
          %table.results
            %tr.title
              %th Last Used
              %th= link_to "Edit", edit_reinventariar_path(@last)
            %tr.odd
              %td Column
              %td= @last.column
            %tr.even
              %td Row
              %td= @last.row
            %tr.odd
              %td ID
              %td= @last.id
            %tr.even
              %td Color
              %td= @last.color.descr
            %tr.odd
              %td Count
              %td= @last.cantidad
      .clear
      .pagination
        = will_paginate @inventarios
  - else
    %p.busque= "Por favor busque los productos."
= total_camisas
