- javascripts "buscar_index"
- page_title "Buscar"
= render :partial => 'application/search_boxes'
= solicitadas
#search_results= render :partial => 'application/results'
.por_sacar#por_sacar= render :partial => 'application/por_sacar'
= make_dragable
= total_camisas
- button_2("Limpiar", '#', :onclick => "limpiar();")
- button_2("Sacar =>", '#', :onclick => "sacar();")