<% page_title "Nuevo" %>

<h1><%= yield :title %></h1>
<% form_tag(:action => "create") do %>
	<div id="new" class="results">
		<h2>Factura: <span id="factura"><%= hidden_field :inventario, :numero_de_factura, :value => factura %><%= factura %></span></h2>
		<script type="text/javascript">
		 new Ajax.InPlaceEditor('factura', '/javascripts/factura?<%= request_forgery_protection_token %>=<%= escape_javascript form_authenticity_token %>');
		</script>
	</div>
	<br>
	<div class="results" id="new">
		<%= render :partial => 'application/cantidad' %>
		<%= render :partial => 'application/attributes' %>
	</div>
<% end %>
<br/>
<% button_1("<= Atras",buscar_index_path) %>
<% button_2("Crear =>","#", :onclick => 'document.forms[0].submit()') %>

<!-- <span id="factura"><%= factura %></span> -->