<% page_title "Settings" %>
<h2><%= yield :title %></h2>

<table class="results">
		<tr><td><%= link_to "Marcas", marcas_path() %></td></tr>
		<tr><td><%= link_to "Colores", colores_path() %></td></tr>
		<tr><td><%= link_to "Tipos", tipos_path() %></td></tr>
		<tr><td><%= link_to "Tallas", tallas_path() %></td></tr>
		<tr><td><%= link_to "Estilos", estilos_path() %></td></tr>
		<tr><td><%= link_to "Genros", generos_path() %></td></tr>
</table>
<br />