<% page_title @model.name + "s" %>
<h2><%= yield :title %></h2>
<% form_for @attribute do |f| -%>
  <%= f.text_field :descr %><%= f.submit "Nuevo", :disable_with => 'Espera...' %>
<% end -%>
<table class="results">
	<tr class="title">
		<th><%= @model.name  %></th>
		<th></th>
		<th></th>
	</tr>
	<% @attributes.each do |attribute| %>
	<tr class="<%= cycle :odd, :even %>">	
		<td><%= attribute.descr %></td>
		<td><%= link_to "Editar", edit_marca_path(attribute) %></td>
		<td><%= link_to "Eliminar", marca_path(attribute), :method => :delete %></td>
	</tr>
	<% end %>
</table>
<br />
<% button_1("Settings",settings_path) %>