%tr{ :class => cycle(:odd, :even) }
  %td= h(cosas_por_sacar.id)
  %td
  = detalles(cosas_por_sacar)
  %td= h(cosas_por_sacar.cantidad)
  %td= text_field_tag "inventario[sacar_#{cosas_por_sacar.id}]", cosas_por_sacar.por_sacar ,:size => 2, :onchange => "new Ajax.Request('#{cantidad_update_javascripts_path}',{evalScripts:true, parameters: 'id=#{cosas_por_sacar.id}&por_sacar=' + this.value});", :class => "cantidads_por_sacar"