- avanzado_results(inventario)
%tr{ :class => cycle :odd,:even, :id => "inventario_#{inventario.id}" }
  %td
    = h(inventario.cantidad)
    = cantidad_por_sacar(inventario)
  = detalles(inventario)
  = yield resultados_avanzados(inventario)
= draggable(inventario)