					<% avanzado_results(inventario)  %>
					  <tr id="inventario_<%= inventario.id %>" class="<%= cycle :odd,:even %>">
					    <td><%=h inventario.cantidad %><%= " ( #{inventario.por_sacar.to_s} por sacar)" unless inventario.por_sacar == 0 %></td>	
					    <td><%=h inventario.marca.descr %></td>		
					    <td><%=h inventario.tipo.descr %></td>			
					    <td><%=h inventario.color.descr %></td>				
					    <td><%=h inventario.talla.descr %></td>
						<td></td>
						<%= yield "inventario_#{inventario.id}".to_sym %>			
					  </tr>
					<%= draggable_element("inventario_#{inventario.id}",:revert => true,:ghosting => true) %>