<% unless @por_sacar.blank?  %>
	<div id="por_sacar_error"><%= @error unless @error.blank? %></div>
	<h2>Nombre de orden:<div id="nombre"><%= render :partial => 'application/nombre' %></div></h2>
	<script type="text/javascript">
	 new Ajax.InPlaceEditor('nombre', '/javascripts/nombre_de_orden?<%= request_forgery_protection_token %>=<%= escape_javascript form_authenticity_token %>');
	</script>
	  	<table class="results" id="t_por_sacar">
			<tr class="title">
				<th>Codigo</th>
				<th></th>
				<th>Marca</th>
			    <th>Tipo</th>	
			    <th>Color</th>	
			    <th>Talla</th>
				<th>Cantidad</th>
				<th>Cantidad 2</th>
			</tr>
			<%= render :partial => 'application/cosas_por_sacar', :collection => @por_sacar %>
		</table>
<% end %>
<%= "Por Sacar" unless !@por_sacar.blank? %>