<div class="content">
<% unless @inventarios.blank? %>
		<div class="float-left">
			<table class="results">
			  <tr class="title">
			    <th>Cantidad</th>
			    <th>Marca</th>	
			    <th>Tipo</th>	
			    <th>Color</th>	
			    <th>Talla</th>
				<%= yield :avanzado_results_label %>	
			  </tr>
				<%= render :partial => 'application/inventario', :collection => @inventarios %>
			</table>
		</div>
		<div class="float-right"><%= location %></div>
		<div class="clear"></div>
		<div class="pagination"><%= will_paginate @inventarios %></div>
<% else %>
	<p class="busque"><%= "Porfavor busque los productos." %></p>
<% end %>
</div>
<div class="por_sacar">
	<% form_remote_tag(:url => por_sacar_javascripts_path) do %>
		<div id="por_sacar"><%= render :partial => 'application/por_sacar' %></div>
	<% end %>
</div>
<%= make_dragable %>
