- form_tag({},{:method => 'get', :id => "search_form"}) do
  - searchables(Talla, Genero, Marca, Color, Tipo, Estilo)
  %table#search-results
    %tr
      %th Cantidad
      = yield :searchable_label
      = yield :avanzado_search_labels
      %th= Orden 
    %tr
      %td= text_field_tag "", params[:cantidad],:size => 2
      = yield :searchable
      = yield :avanzado_search
      %td= check_box_tag :updated_at, value = true 
      %td
        = submit_tag 'Buscar'
        = submit_tag 'Limpiar', :name => "limpiar"
