!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Inventario:
      = yield(:title) || "Benvinido"
    = csrf_meta_tags
    = stylesheet_link_tag 'inventario'
    = yield :stylesheets
    = javascript_include_tag 'application'
    -# Removed :coto_solutions - no corresponding JS file found in assets
    = yield :javascripts
  %body
    .wrapper
      - create_top_links("Buscar","Sacar")
      = render :partial => 'application/top_links'
      %p{ :style => "color: green" }
        = flash[:notice]
      = yield
      %table
        %tr
          = yield :button1
          %td= link_to content_tag(:div, content_tag(:center, "Inicio"), class: 'three'), root_path
          = yield :button2
      .push
    .footer= render :partial => 'application/footer'
