<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Inventario: <%= yield(:title) || "Benvinido" %></title>

 <%= stylesheet_link_tag 'inventario' %> 
 <%= javascript_include_tag :defaults %>

</head>
<body>
	<div class="wrapper">
		<%= render :partial => 'application/top_links' %>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield  %>
		<table>
			<tr>
				<%= yield :button1 %>
				<td>
					<a href="/">
					<div class="three"><center>Inicio</center></div>
					</a>
				</td>
				<%= yield :button2 %>
			</tr>
		</table>
		<div class="push"></div>
	</div>
	<div class="footer"><%= render :partial => 'application/footer' %></div>
</body>
</html>